* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
}

html {
    background: linear-gradient(to bottom, rgba(11, 11, 11, 0.9) 10%,rgba(87, 10, 87, 0.9) 90%);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body {
    width: 100%;
}

main {
    width: 60%;
    margin: auto;
}

