<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive/responsive_menu.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div id="title">
        {% if current_user.is_authenticated %}
        <h1><a href="{{ url_for('user.user_home') }}">MyTOP100Movies</a></h1>
        {% else %}
        <h1><a href="/">MyTOP100Movies</a></h1>
        {% endif %}
      </div>
      <div id="menu">
        <nav>
          <ul>
            {% if current_user.is_authenticated %}
            <li id="logged_user"><span>{{ current_user.username }}</span></li>
            <li><a href="{{ url_for('accounts.sair') }}">Sair</a></li>
            {% else %}
            <li><a href="{{ url_for('accounts.entrar') }}">Entrar</a></li>
            <li>
              <a href="{{ url_for('accounts.cadastro') }}">Cadastrar-se</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <!-- Mobile Menu -->
      <div id="mobile_menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </header>
    <main>
      <section>{% block content %} {% endblock %}</section>
    </main>
    {% block javascript %} {% endblock %}
    <script src="{{ url_for('static', filename='js/mobile_menu.js') }}"></script>
  </body>
</html>
